<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dog.name %>
</p>

<p>
  <b>Breed:</b>
  <%= @dog.breed %>
</p>

<p>
  <b>Color:</b>
  <%= @dog.color %>
</p>

<p>
	<b>Pack:</b>
	<%= @dog.pack.name %>
</p>


<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
