<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pack.name %>
</p>

<p>
  <b>Dogs:</b>
		<table> 
		  <tr>
		    <th>Name</th>
		    <th>Breed</th>
		    <th>Color</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		
		<% @pack.dogs.each do |dog| %>
		  <tr id = "dog_<%= dog.id %>">
		    <td><%= dog.name %></td>
		    <td><%= dog.breed %></td>
		    <td><%= dog.color %></td>
		    <td><%= link_to 'Show', dog %></td>
		    <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
		    <td><%= link_to 'Destroy', dog, confirm: 'Are you sure?', method: :delete %></td>		
		  </li>
		<% end %>
		</table>
		
		<ul id = "packs" data-update-url="<%= sort_dogs_url %>" data-update-url="<%= sort_packs_url %>">
			<% @pack.dogs.each do |dog| %>
				<%= content_tag_for :li, dog do %>
					<%= link_to h(dog.name), dog %>
					<%= link_to h(dog.position), dog %>
					<%= link_to h(dog.id), dog %>
				<% end %>	
			<% end %>
		</ul>
	 
</p>

<%= link_to 'Edit', edit_pack_path(@pack) %> |
<%= link_to 'Back', packs_path %>
