<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pack.name %>
</p>

<p>
  <b>Dogs:</b>
		<ul id = "packs" data-update-url="<%= sort_packs_url %>"> 
		  <tr>
		    <th>Name</th>
		    <th>Breed</th>
		    <th>Color</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		
		<% @pack.dogs.each do |dog| %>
		 <%= content_tag_for :li, dog do %>
		<%= dog.name %>
		 <%= dog.breed %>
		 <%= dog.color %>
		  <%= link_to 'Show', dog %>
		  <%= link_to 'Edit', edit_dog_path(dog) %>
		 <%= link_to 'Destroy', dog, confirm: 'Are you sure?', method: :delete %>		
		  <%end%>
		<% end %>
		</ul>
		

	 
</p>

<%= link_to 'Edit', edit_pack_path(@pack) %> |
<%= link_to 'Back', packs_path %>
