<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pack.name %>
</p>

<p>
  <b>Dogs:</b>
		<table id = "packs">
		  <tr>
		    <th>Name</th>
		    <th>Breed</th>
		    <th>Color</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		</table>
	<div id = "items">
		<ul id = "sortable_list">
			<% @pack.dogs.each do |dog|%>
				<li id = "dog_<%= dog.id%>"><%= dog.name %></li>
			<% end %>
		</ul>
	</div>
	<%= sortable_element('sortable_list', :update => 'items', :url => {:action => :update_positions}) %>
</p>

<%= link_to 'Edit', edit_pack_path(@pack) %> |
<%= link_to 'Back', packs_path %>
